body{
  height: 100%;
  padding: 0;
  margin: 0;
}
.hello{
  height: 100%;
  position: relative;
  .login-title{
    background-color: #3e99f4;
    padding: 10px;
    >img{
      height: 50px;
    }
  }
  .el-card{
    min-width: 318px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .card-header{
    font-size: 1.2em;
  }
  .login-btn{
    width: 100%;
  }
  .register-div .el-input-group__append button.el-button{
    background: #fff;
    border-radius: 0;
    &:focus, &:hover{
      color: #409EFF;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    } 
    &.is-disabled{
      &:focus, &:hover{
        color: #c0c4cc;
        cursor: not-allowed;
        background-image: none;
        background-color: #fff;
        border-color: #ebeef5;
      }
    }
  }
}
